__pycache__
*.ckpt
*.safetensors
*.pth
/ESRGAN/*
/SwinIR/*
/repositories
/venv
/tmp
/model.ckpt
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/ui-config.json
/outputs
/config.json
/log
/start.settings.bat
/embeddings
/styles.csv
/params.txt
/styles.csv.bak
/start-user.bat
/start-user.sh
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
.vscode
/test/stdout.txt
/test/stderr.txt
/cache.json*
/config_states/
